* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Nutmeg: #854632;
  --Dark-Raspberry: #7b284f;
  --White: #ffffff;
  --Rose-White: #fff5fa;
  --Eggshell: #f3e6d8;
  --Light-Grey: #e4ded8;
  --Wenge-Brown: #5f574e;
  --Dark-Charcoal: #302d2c;
}

/* Main Container */
main {
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  width: 100%;
}

h1, h2, h3 {
  font-family: "Young Serif", serif;
}

/* Figure */
figure {
  width: 100%;
  margin-bottom: 40px;
}

/* Top Image */
main figure img {
  text-align: center;
  width: 100%;
}

/* Header */
header {
  padding: 0 25px;
  width: 100%;
  margin-bottom: 30px;
}

/* Header h1 */
header h1 {
  margin-bottom: 20px;
  color: var(--Dark-Charcoal);
  font-size: 36px;
  font-weight: 500;
}

/* Any paragraph in the page */
p {
  margin: 10px 0;
  line-height: 25px;
  font-size: 16px;
}

/* Article */
article {
  width: 90%;
  margin: 0 auto 30px;
  border-radius: 10px;
  padding: 20px 25px;
  background-color: var(--Rose-White);
}

/* Article h3 */
article h3 {
  color: var(--Dark-Raspberry);
}

/* Marker of list */
li::marker {
  color: var(--Dark-Raspberry);
  font-weight: bold;
}

/* Any ul li in th page */
li {
  margin: 10px 0 0;
  list-style-position: inside;
  padding-left: 10px;
  line-height: 25px;
  color: var(--Wenge-Brown);
}

/* sections */
section {
  margin: 20px auto 0;
  width: 85%;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--Light-Grey);
}

section h2 {
  color: var(--Nutmeg);
}

section ol {
  padding-left: 20px;
}

section ol li {
  list-style-position: outside;
}

/* Table */
table {
  width: 100%;
}

table tr td {
  border-bottom: 1px solid var(--Light-Grey);
  padding: 10px 10px 10px 30px;
}

table tr td:nth-of-type(2) {
  color: var(--Dark-Raspberry);
  font-weight: bold;
}

/* Media 600px */
@media (min-width: 600px) {
  body {
    background-color: var(--Eggshell);
  }
  
  main {
    width: 590px;
    background-color: var(--White);
    margin: 50px auto;
    border-radius: 10px;
  }

  figure {
    padding: 20px;
    border-radius: 10px;
  }

  figure img {
    border-radius: 10px;
  }
}